services:
  django:
    build:
      context: . # Emplacement du Dockerfile
    container_name: codexio
    ports:
      - "8000:8000" # Expose le port 8000
    volumes:
      - ./src/media:/app/src/media # Monte le dossier local 'media' dans le conteneur
      - ./src/database:/app/src/database
    environment:
      - DEBUG=True
    command: >
      sh -c "python src/manage.py migrate && python src/manage.py runserver 0.0.0.0:8000"
