services:
  django:
    build:
      context: .
    container_name: codexio
    ports:
      - "8001:8000"
    volumes:
      - ./src/media:/app/src/media
      - ./src/database:/app/src/database
    environment:
      - DEBUG=False
      - DJANGO_ENV=production
    env_file:
      - .env
    working_dir: /app/src
    command: >
      sh -c "python manage.py migrate && gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    depends_on:
      - postgres
    networks:
      - local_network

  postgres:
    image: postgres:15
    container_name: postgres_codexio
    restart: always
    env_file:
      - .env
    ports:
      - "5442:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - local_network

volumes:
  postgres_data:

networks:
  local_network: