{% extends 'main/base.html' %}
{% load static %}
{% block body %}

    <!-- Main Content -->
    {% include 'advanced_search/module.html' %}

    <section>
        <header>
            <h2>Les Bandes Dessinées</h2>
            <h3>{{ total }} résultat{% if total > 1 %}s{% endif %}.</h3>
        </header>

        <div id="data-container">
            {% if not infos %}
                <p>Aucun résultat. Veuillez retenter une nouvelle recherche.</p>
            {% else %}
                {% for album in infos %}

                    {% if not album.Album and album.Album == "" and not album.Numero and album.Numero == "" and not album.Serie and album.Serie == "" %}
                        <a class="pagination-item" href="{% url 'pagebd' album.ISBN %}">Pas de titre</a>
                    {% else %}
                        <a class="pagination-item" href="{% url 'pagebd' album.ISBN %}">
                            {% if album.Album and album.Album != "" %}
                                {{ album.Album }}
                            {% endif %}
                            {% if album.Numero and album.Numero != "" %}
                                Tome {{ album.Numero }} :
                            {% endif %}
                            {% if album.Serie and album.Serie != "" %}
                                {{ album.Serie }}
                            {% endif %}
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div id="pagination">
            <div id="first-page" class="pagination">&lt;&lt;</div>
            <div id="prev-page" class="pagination">&lt;</div>
            <span id="current-page"></span>
            <div id="next-page" class="pagination">&gt;</div>
            <div id="last-page" class="pagination">&gt;&gt;</div>
        </div>
    </section>

{% endblock %}
{% block javascript %}
    <script src="{% static 'main/scripts/pagination.js' %}"></script>
    <script>
        paginate(50, "first-page", "prev-page", "current-page", "next-page", "last-page", ".pagination-item", "pagination");
    </script>
{% endblock %}