{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Codexio</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'main/styles/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/button.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/form.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/bd_list.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/random_album.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/pagination.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/one_album.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/image_popup.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/carousel.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/attachments.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/statistics.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/profile.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/styles/login.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    {% block head %}{% endblock %}

</head>

<body>
<div id="page-wrapper">
    <!-- Déconnexion -->
    {% if user.is_authenticated %}
        <div class="user-container">
            <div class="user-menu">
                <a href="{% url 'profile' %}">
                    <button class="user-button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="user-icon" viewBox="0 0 1024 1024">
                            <path d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"/>
                        </svg>
                    </button>
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'profile' %}">Voir mon profil</a>
                    {% if user.is_superuser and user.is_staff %}
                        <a href="{% url 'admin:index' %}">Mode administrateur</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">
                                Se déconnecter
                            </button>
                        </form>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Header -->
    <section id="header">
        <div class="container">
            <div id="header_container">

                <!-- Logo -->
                <h1 id="logo"><a href="{% url 'home' %}">
                    {% if user.is_authenticated %}
                        {% if user.current_collection.profile.name == "BD" %}
                            Codexio - BD
                        {% elif user.current_collection.profile.name == "BOOK" %}
                            Codexio - Livres
                        {% else %}
                            Codexio
                        {% endif %}
                    {% else %}
                        Codexio
                    {% endif %}
                </a></h1>

                <button id="menu-toggle">&#9776;</button>
                <!-- Nav -->
                {% if user.is_authenticated %}
                    <nav id="nav">
                        <a href="{% url 'home' %}">Menu</a>
                        <a href="{% url 'recherche' %}">
                            {% if user.current_collection.profile.name == "BD" %}
                                Les bandes dessinées
                            {% else %}
                                Les livres
                            {% endif %}
                        </a>
                        <a href="{% url 'dedicaces' %}">Les dédicaces</a>
                        {% if user.current_collection.profile.name == "BD" %}
                            <a href="{% url 'exlibris' %}">Les ex-libris</a>
                        {% endif %}
                        <a href="{% url 'statistiques' %}">Statistiques</a>
                    </nav>
                {% endif %}
            </div>
        </div>

    </section>

    <section id="content">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </section>
</div>

<!-- Scripts -->
<!-- Fonctionnement header navigation -->
<script src="{% static 'main/scripts/header/jquery.min.js' %}"></script>
<script src="{% static 'main/scripts/header/breakpoints.min.js' %}"></script>
<script src="{% static 'main/scripts/header/util.js' %}"></script>
<script src="{% static 'main/scripts/header/main.js' %}"></script>

{% block javascript %}{% endblock %}
</body>
</html>