{% extends 'main/base.html' %}
{% load static %}

{% block body %}

    <button id="scrollTopBtn" class="scroll-top" onclick="scrollToTop()">&#x23F6;</button>

    <div class="col-12">
        <!-- Main Content -->

        <section id="exlibris">
            <div class="title">
                <header>
                    <h2>Les Ex-libris</h2>
                    <h3>Tous les ex-libris ({{ exlibris_sum }})</h3>
                </header>
                <div class="hide" id="hide_exlibris">Afficher</div>
            </div>

            <div id="all_exlibris">
                {% for bd in exlibris %}

                    <div id="exlibris_{{ bd.isbn }}" class="pagination-item-exlibris sub-section">
                        <header>
                            <h2>
                                <a href="{% url 'pagebd' bd.isbn %}">
                                    {% if bd.number and bd.number != "" %}
                                        Tome {{ bd.number }}
                                        {% if bd.album and bd.album != "" %}
                                            :
                                        {% endif %}
                                    {% endif %}

                                    {% if bd.album and bd.album != "" %}
                                        {{ bd.album }}
                                    {% else %}
                                        {{ bd.isbn }}
                                    {% endif %}
                                </a>
                            </h2>
                            {% if bd.series and bd.series != "" %}
                                <h2>{{ bd.series }}</h2>
                            {% endif %}

                            <p>{{ bd.ex_libris }} ex-libris</p>
                        </header>
                        <div class="image_group carousel-container">
                            <div class="prev-carousel" id="prev-exlibris-{{ bd.isbn }}">&lt;</div>
                            <div class="carousel carousel-exlibris-{{ bd.isbn }}">
                                {% for i in bd.ex_libris_range %}
                                    <img class="photo-exlibris-{{ bd.isbn }}"
                                         src="{% static 'main/images/skeleton.gif' %}"
                                         data-src="/media/main/images/exlibris/{{ bd.isbn }}/{{ i }}.jpeg"
                                         alt="{{ bd.isbn }}"
                                         data-full="/media/main/images/exlibris/{{ bd.isbn }}/{{ i }}.jpeg"
                                         data-title="<h2>{{ bd.series }}</h2>"
                                         data-info="<p>{{ bd.album }}</p>"
                                    />
                                {% endfor %}
                            </div>
                            <div class="next-carousel" id="next-exlibris-{{ bd.isbn }}">&gt;</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>


    </div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <div id="image-title"></div>
            <div id="image-info"></div>

            <img id="popup-img" src="" alt="Couverture"/>
            <button class="popup_button close" id="close-popup">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M18 6L12 12L6 6L4.59 7.41L10.59 13.41L4.59 19.41L6 21L12 15L18 21L19.41 19.41L13.41 13.41L19.41 7.41L18 6Z"/>
                </svg>
            </button>
            <button class="popup_button prev" id="prev-image">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
                </svg>
            </button>
            <button class="popup_button next" id="next-image">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z"/>
                </svg>
            </button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'main/scripts/image_popup.js' %}"></script>
    <script src="{% static 'main/scripts/attachments.js' %}"></script>
    <script src="{% static 'main/scripts/carousel.js' %}"></script>

    <script>
        {% for bd in exlibris %}
            useCarousel(".carousel-exlibris-{{ bd.isbn }}", "#next-exlibris-{{ bd.isbn }}", "#prev-exlibris-{{ bd.isbn }}", ".photo-exlibris-{{ bd.isbn }}");
        {% endfor %}
    </script>

{% endblock %}