{% extends 'main/base.html' %}
{% load static %}

{% block body %}

<div class="col-12">

    <section>
        <header>
            <h2>Sommaire</h2>
            <h3><a href="#dedicaces">Dédicaces ({{ signed_copy_sum }})</a></h3>
            <h3><a href="#exlibris">Ex Libris ({{ exlibris_sum }})</a></h3>
        </header>
    </section>

<!-- Main Content -->
    <section id="dedicaces">
        <header>
            <h2>Les dédicaces</h2>
            <h3>Toutes les dédicaces</h3>
        </header>

    </section>
    {% for bd in signed_copies %}

        <section id="dedicaces_{{ bd.isbn }}">
            <header>
                <h2>
                    <a href="{% url 'pagebd' bd.isbn %}">
                        {% if bd.number and bd.number != "" %}
                            Tome {{ bd.number }}
                            {% if bd.album and bd.album != "" %}
                                : 
                            {% endif %}
                        {% endif %}

                        {% if bd.album and bd.album != "" %}
                            {{ bd.album }}
                        {% else %}
                            {{ bd.isbn }}
                        {% endif %}
                    </a>
                </h2>
                {% if bd.series and db.series != "" %}
                    <h2>{{ bd.series }}</h2>
                {% endif %}

                <p>{{ bd.signed_copy }} dédicace{% if bd.signed_copy > 1 %}s{% endif %}</p>
            </header>

            <p>
                {% for i in bd.signes_copy_range %}
                    <a class="photo_link" href="/media/main/images/dedicaces/{{ bd.isbn }}/{{ i }}.jpeg" data-lightbox="{{ bd.isbn }}">
                        <img src="/media/main/images/dedicaces/{{ bd.isbn }}/{{ i }}.jpeg" alt="Dédicace de l'album {{ bd.isbn }}" class="photo_dedicace">
                    </a>
                {% endfor %}
            </p>
        </section>
    {% endfor %}

    <section id="exlibris">
        <header>
            <h2>Les Ex Libris</h2>
            <h3>Tous les ex libris</h3>
        </header>

    </section>

    {% for bd in exlibris %}

        <section id="exlibris_{{ bd.isbn }}">
            <header>
                <h2>
                    {% if bd.album and db.album != "" %}
                        <a href="{% url 'pagebd' bd.isbn %}">{{ bd.album }}</a>
                    {% else %}
                        <a href="{% url 'pagebd' bd.isbn %}">{{ bd.isbn }}</a>
                    {% endif %}
                </h2>

                {% if bd.number or bd.series %}
                    {% if bd.number != "" or bd.series != "" %}
                        <h3>
                            {% if bd.number and bd.number != "" %}
                                Tome {{ bd.number }}
                            {% endif %}

                            {% if bd.series and bd.series != "" %}
                                {{ bd.series }}
                            {% endif %}
                        </h3>
                    {% endif %}
                {% endif %}
                <p>{{bd.ex_libris}} ex libris</p>
            </header>

            <p>
                {% for i in bd.ex_libris_range %}
                    <a class="photo_link" href="/media/main/images/exlibris/{{ bd.isbn }}/{{ i }}.jpeg" data-lightbox="{{ bd.isbn }}">
                        <img src="/media/main/images/exlibris/{{ bd.isbn }}/{{ i }}.jpeg" alt="Ex libris de l'album {{ bd.isbn }}" class="photo_dedicace">
                    </a>
                {% endfor %}
            </p>
        </section>
    {% endfor %}

</div>
{% endblock %}
