{% extends 'main/base.html' %}
{% load static %}

{% block body %}

    <button id="scrollTopBtn" class="scroll-top" onclick="scrollToTop()">&#x23F6;</button>

    <div class="col-12">

        <section>
            <header>
                <h2>Sommaire</h2>
                <h3><a href="#dedicaces">Dédicaces ({{ signed_copy_sum }})</a></h3>
            </header>
        </section>

        <!-- Main Content -->

        <section id="dedicaces">
            <div class="title">
                <header>
                    <h2>Les dédicaces</h2>
                    <h3>Toutes les dédicaces</h3>
                </header>

                <div class="hide" id="hide_dedicace">Afficher</div>
            </div>

            <div id="all_dedicaces">
                <div id="dedicace-pagination">
                    <div id="dedicace-first-page" class="pagination">&lt;&lt;</div>
                    <div id="dedicace-prev-page" class="pagination">&lt;</div>
                    <span id="dedicace-current-page"></span>
                    <div id="dedicace-next-page" class="pagination">&gt;</div>
                    <div id="dedicace-last-page" class="pagination">&gt;&gt;</div>
                </div>
                {% for bd in signed_copies %}

                    <section id="dedicaces_{{ bd.isbn }}" class="pagination-item-dedicace sub-section">
                        <header>
                            <h2>
                                <a href="{% url 'pagebd' bd.isbn %}">
                                    {% if bd.number and bd.number != "" %}
                                        Tome {{ bd.number }}
                                        {% if bd.album and bd.album != "" %}
                                            :
                                        {% endif %}
                                    {% endif %}

                                    {% if bd.album and bd.album != "" %}
                                        {{ bd.album }}
                                    {% else %}
                                        {{ bd.isbn }}
                                    {% endif %}
                                </a>
                            </h2>
                            {% if bd.series and bd.series != "" %}
                                <h2>{{ bd.series }}</h2>
                            {% endif %}

                            <p>{{ bd.signed_copy }} dédicace{% if bd.signed_copy > 1 %}s{% endif %}</p>
                        </header>

                        <div class="image_group carousel-container">
                            <div class="prev-carousel" id="prev-dedicace-{{ bd.isbn }}">&lt;</div>
                            <div class="carousel carousel-dedicace-{{ bd.isbn }}">
                                {% for i in bd.signes_copy_range %}
                                    <img src="/media/main/images/dedicaces/{{ bd.isbn }}/{{ i }}.jpeg"
                                         alt="{{ bd.isbn }}"
                                         data-full="/media/main/images/dedicaces/{{ bd.isbn }}/{{ i }}.jpeg"
                                         data-title="<h2>{{ bd.series }}</h2>"
                                         data-info="<p>{{ bd.album }}</p>"
                                         class="photo-dedicace-{{ bd.isbn }}"
                                    />
                                {% endfor %}
                            </div>
                            <div class="next-carousel" id="next-dedicace-{{ bd.isbn }}">&gt;</div>
                        </div>
                    </section>
                {% endfor %}

            </div>
        </section>

    </div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <div id="image-title"></div>
            <div id="image-info"></div>

            <img id="popup-img" src="" alt="Couverture"/>
            <button class="popup_button close" id="close-popup">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M18 6L12 12L6 6L4.59 7.41L10.59 13.41L4.59 19.41L6 21L12 15L18 21L19.41 19.41L13.41 13.41L19.41 7.41L18 6Z" />
                </svg>
            </button>
            <button class="popup_button prev" id="prev-image">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
                </svg>
            </button>
            <button class="popup_button next" id="next-image">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z"/>
                </svg>
            </button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'main/scripts/image_popup.js' %}"></script>
    <script src="{% static 'main/scripts/attachments.js' %}"></script>
    <script src="{% static 'main/scripts/pagination.js' %}"></script>
    <script src="{% static 'main/scripts/carousel.js' %}"></script>

    <script>
        showSection("all_dedicaces", "hide_dedicace")

        paginate("dedicace-first-page", "dedicace-prev-page", "dedicace-current-page", "dedicace-next-page", "dedicace-last-page", ".pagination-item-dedicace", "#dedicace-pagination");
        {% for bd in signed_copies %}
            useCarousel(".carousel-dedicace-{{ bd.isbn }}", "#next-dedicace-{{ bd.isbn }}", "#prev-dedicace-{{ bd.isbn }}", ".photo-dedicace-{{ bd.isbn }}");
        {% endfor %}
    </script>

{% endblock %}