{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Bandes Dessinées</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static 'main/assets/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/image_popup.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        {% block head %}{% endblock %}

    </head>

    <body>
        <div id="page-wrapper">

            <!-- Header -->
            <section id="header">

                <div class="container">
                    <div class="row">
                        <div class="col-12">

                        <!-- Logo -->
                        <h1><a href="{% url 'home' %}" id="logo">BD</a></h1>

                        <!-- Nav -->
                        <nav id="nav">
                            <a href="{% url 'home' %}">Menu</a>
                            <a href="{% url 'bdrecherche' %}">Les bandes dessinées</a>
                            <a href="{% url 'dedicace' %}">Les dédicaces</a>
                            <a href="{% url 'statistiques' %}">Statistiques</a>
                        </nav>

                        </div>
                    </div>
                </div>
                {% block banner %}{% endblock %}
            </section>
            <section id="content">
                <div class="container">
                    <div class="row">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </section>
        </div>

        <!-- Scripts -->
        {% block javascript %}
        {% endblock %}
    </body>

</html>