{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Bandes Dessinées</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static 'main/assets/main.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/home.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/button.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/form.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/bd_list.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/random_album.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/pagination.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/one_album.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/image_popup.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/carousel.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/attachments.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        {% block head %}{% endblock %}

    </head>

    <body>
        <!-- Header -->
        <section id="header">
            <div class="container">
                <div id="header_container">
                    <!-- Logo -->
                    <h1><a href="{% url 'home' %}" id="logo">BD</a></h1>
                    <!-- Nav -->
                    <nav id="nav">
                        <a href="{% url 'home' %}">Menu</a>
                        <a href="{% url 'bdrecherche' %}">Les bandes dessinées</a>
                        <a href="{% url 'dedicace' %}">Les dédicaces</a>
                        <a href="{% url 'statistiques' %}">Statistiques</a>
                    </nav>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container">
            {% block body %}{% endblock %}
            </div>
        </section>

        <!-- Scripts -->
        {% block javascript %}
        {% endblock %}
    </body>

</html>