{% extends 'main/base.html' %}
{% load static %}

{% block body %}

<div class="col-12">

    <section>
        <header>
            <h2>Sommaire</h2>
            <h3><a href="#dedicaces">Dédicaces ({{ dedicaces_sum }})</a></h3>
            <h3><a href="#exlibris">Ex Libris ({{ exlibris_sum }})</a></h3>
        </header>
    </section>

<!-- Main Content -->
    <section id="dedicaces">
        <header>
            <h2>Les dédicaces</h2>
            <h3>Toutes les dédicaces</h3>
        </header>

    </section>
    {% for bd in dedicaces %}

        <section id="dedicace_{{ bd.ISBN }}">
            <header>
                <h2>
                    <a href="{% url 'pagebd' bd.ISBN %}"> 
                        {% if bd.Numero and bd.Numero != "" %}
                            Tome {{ bd.Numero }}
                            {% if bd.Album and bd.Album != "" %}
                                : 
                            {% endif %}
                        {% endif %}

                        {% if bd.Album and bd.Album != "" %}
                            {{ bd.Album }}
                        {{ else }}
                            bd.ISBN
                        {% endif %}
                    </a>
                </h2>
                {% if bd.Serie and db.Serie != "" %}
                    <h2>{{ bd.Serie }}</h2>
                {% endif %}

                <p>{{ bd.Dedicace }} dédicace{% if bd.Dedicace > 1 %}s{% endif %}</p>
            </header>

            <p>
                {% for i in bd.DedicaceRange %}
                    <a class="photo_link" href="/static/main/images/dedicaces/{{ bd.ISBN }}/{{ i }}.jpeg" data-lightbox="{{ bd.ISBN }}">
                        <img src="/static/main/images/dedicaces/{{ bd.ISBN }}/{{ i }}.jpeg" alt="Image" class="photo_dedicace">
                    </a>
                {% endfor %}
            </p>
        </section>
    {% endfor %}

    <section id="exlibris">
        <header>
            <h2>Les Ex Libris</h2>
            <h3>Tous les ex libris</h3>
        </header>

    </section>

    {% for bd in exlibris %}

        <section id="exlibris_{{ bd.ISBN }}">
            <header>
                <h2>
                    {% if bd.Album and db.Album != "" %}
                        <a href="{% url 'pagebd' bd.ISBN %}">{{ bd.Album }}</a>
                    {% else %}
                        <a href="{% url 'pagebd' bd.ISBN %}">{{ bd.ISBN }}</a>
                    {% endif %}
                </h2>

                {% if bd.Numero or bd.Serie %}
                    {% if bd.Numero != "" or bd.Serie != "" %}
                        <h3>
                            {% if bd.Numero and bd.Numero != "" %}
                                Tome {{ bd.Numero }}
                            {% endif %}

                            {% if bd.Serie and bd.Serie != "" %}
                                {{ bd.Serie }}
                            {% endif %}
                        </h3>
                    {% endif %}
                {% endif %}
                <p>{{bd.Exlibris}} ex libris</p>
            </header>

            <p>
                {% for i in bd.ExlibrisRange %}
                    <a class="photo_link" href="/static/main/images/exlibris/{{ bd.ISBN }}/{{ i }}.jpeg" data-lightbox="{{ bd.ISBN }}">
                        <img src="/static/main/images/exlibris/{{ bd.ISBN }}/{{ i }}.jpeg" alt="Image" class="photo_dedicace">
                    </a>
                {% endfor %}
            </p>
        </section>
    {% endfor %}

</div>
{% endblock %}
