{% extends 'main/base.html' %}
{% load static %}

{% block banner %}
    {% include 'random_dedicace/module.html' %}
{% endblock %}

{% block body %}

<div class="col-8 col-12-medium">
    {% include 'advanced_search/module.html' %}
</div>

<div class="col-4 col-12-medium">
    {% include 'random_album/module.html' %}
</div>

{% endblock %}

{% block javascript %}
    <script>
        var checkbox = document.getElementById("id_tri_croissant");
        var label = document.querySelector("label[for='id_tri_croissant']");
        document.getElementById("id_tri_croissant").addEventListener("change", function() {
            label.innerHTML = checkbox.checked ? "↓" : "↑";
            console.log(checkbox.checked);
        });

        label.innerHTML = checkbox.checked ? "↓" : "↑";
    </script>
{% endblock %}
