{% extends 'main/base.html' %}
{% load static %}

{% block banner %}
    {% include 'random_dedicace/module.html' %}
{% endblock %}

{% block body %}

<div class="col-8 col-12-medium">
    {% include 'advanced_search/module.html' %}
</div>

<div class="col-4 col-12-medium">

<!-- Sidebar -->
    <section>
        <header>
            {% if infos.Serie and infos.Serie != "" %}
                <h2>    
                    {{ infos.Serie }}   
                </h2>
            {% endif %}
            {% if infos.Numero and infos.Numero != "" or infos.Album and infos.Album != "" %}
                <h3>
                    {% if infos.Numero and infos.Numero != "" %}
                    Tome {{ infos.Numero }}
                        {% if infos.Album and infos.Album != "" %}
                        : 
                        {% endif %}
                    {% endif %}
                    {% if infos.Album and infos.Album != "" %}
                        {{ infos.Album }}
                    {% endif %}
                </h3>
            {% endif %}

        </header>

        <a href="{{ infos.Image }}" data-lightbox="{{ infos.Album }}">
            <img src="{{ infos.Image }}" alt="Couverture" width="220">
        </a>
        <p>
            Scénartiste : {{ infos.Scenariste }}<br />
            Dessinateur : {{ infos.Dessinateur }}<br />
            Date de parution : {{ infos.Date_de_parution }}<br />
            {% if infos.Prix_dachat and infos.Nombre_de_pages and infos.Prix_dachat != "" and infos.Nombre_de_pages != "" %}
                {{ infos.Prix_dachat }}€ | {{ infos.Nombre_de_pages }} pages<br />
            {% else %}
                {% if infos.Prix_dachat and infos.Prix_dachat != "" %}
                    {{ infos.Prix_dachat }}€<br />
                {% endif %}

                {% if infos.Nombre_de_pages and infos.Nombre_de_pages != "" %}
                    {{ infos.Nombre_de_pages }} pages<br />
                {% endif %}
            {% endif %}

            {{ infos.Édition }}
        </p>
        <p>
            {% autoescape off %}
                {{ infos.Synopsis|truncatechars:200 }}
            {% endautoescape %}
        </p>
        <p>
            <a style="color:#FFFFFF;" href="{% url 'pagebd' infos.ISBN %}" class="button-large">Voir plus</a>
        </p>
    </section>

</div>

{% endblock %}

{% block javascript %}
    <script>
        var checkbox = document.getElementById("id_tri_croissant");
        var label = document.querySelector("label[for='id_tri_croissant']");
        document.getElementById("id_tri_croissant").addEventListener("change", function() {
            label.innerHTML = checkbox.checked ? "↓" : "↑";
            console.log(checkbox.checked);
        });

        label.innerHTML = checkbox.checked ? "↓" : "↑";
    </script>
{% endblock %}
