{% extends 'main/base.html' %}
{% load static %}

{% block banner %}
<div id="banner">
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">

            <!-- Banner Copy -->
            <p>Découvrir toutes les dédicaces !</p>
            <a href="{% url 'dedicace' %}" class="button-large">Voir les dédicaces</a>

            </div>
            <div class="col-6 col-12-medium imp-medium">
                <!-- Banner Image -->
                <a href="{% url 'dedicace' %}#{{ random_type }}_{{ isbn_banner }}" class="bordered-feature-image">
                    <div class="image-container">
                        <img src="{{ banner }}" alt="Bannière" class="fixed-size-image"/>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}

<div class="col-8 col-12-medium">

<!-- Main Content -->
    <section>
        <header>
            <h2>Rechercher</h2>
            <h3>Rechercher une bande dessinée suivant des critères</h3>
        </header>
        <form method="post" action="{% url 'bdrecherche' %}">
            {% csrf_token %}
            {{ form.as_custom_table_2|safe }}

            <input class="button-large" type="submit" value="Rechercher" title="Rechercher la BD"/>
        </form>
    </section>

</div>
<div class="col-4 col-12-medium">

<!-- Sidebar -->
    <section>
        <header>
            <h2>{{ infos.Album }}</h2>
            <h3>
                {% if infos.Numero and infos.Numero != "" %}
                Tome {{ infos.Numero }} :
                {% endif %}
                {% if infos.Serie and infos.Serie != "" %}
                    {{ infos.Serie }}
                {% endif %}
            </h3>

        </header>

        <a href="{{ infos.Image }}" data-lightbox="{{ infos.Album }}">
            <img src="{{ infos.Image }}" alt="Couverture" width="220">
        </a>
        <p>
            Scénartiste : {{ infos.Scenariste }}<br />
            Dessinateur : {{ infos.Dessinateur }}<br />
            Date de parution : {{ infos.Date_de_parution }}<br />
            {% if infos.Prix_dachat and infos.Nombre_de_pages and infos.Prix_dachat != "" and infos.Nombre_de_pages != "" %}
                {{ infos.Prix_dachat }}€ | {{ infos.Nombre_de_pages }} pages<br />
            {% else %}
                {% if infos.Prix_dachat and infos.Prix_dachat != "" %}
                    {{ infos.Prix_dachat }}€<br />
                {% endif %}

                {% if infos.Nombre_de_pages and infos.Nombre_de_pages != "" %}
                    {{ infos.Nombre_de_pages }} pages<br />
                {% endif %}
            {% endif %}

            {{ infos.Édition }}
        </p>
        <p>
            {% autoescape off %}
                {{ infos.Synopsis|truncatechars:200 }}
            {% endautoescape %}
        </p>
        <p>
            <a style="color:#FFFFFF;" href="{% url 'pagebd' infos.ISBN %}" class="button-large">Voir plus</a>
        </p>
    </section>

</div>

{% endblock %}

{% block javascript %}
    <script>
        var checkbox = document.getElementById("id_tri_croissant");
        var label = document.querySelector("label[for='id_tri_croissant']");
        document.getElementById("id_tri_croissant").addEventListener("change", function() {
            label.innerHTML = checkbox.checked ? "↓" : "↑";
            console.log(checkbox.checked);
        });

        label.innerHTML = checkbox.checked ? "↓" : "↑";
    </script>
{% endblock %}
