#all_dedicaces, #all_exlibris, #all_attachments {
    display: block;
}

.hide {
    display: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #373f42;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Caché par défaut */
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
}

.scroll-top:hover {
    background-color: #555;
}
