.button-large {
    background-image: -moz-linear-gradient(top, #ed391b, #ce1a00);
    background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
    background-image: -ms-linear-gradient(top, #ed391b, #ce1a00);
    background-image: linear-gradient(to top, #ed391b, #ce1a00);
    background-color: #ed391b;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    height: 50px;
    font-weight: 300;
    padding: 0 45px;
    outline: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.button-large:hover {
    background-image: -moz-linear-gradient(top, #fd492b, #de2a10);
    background-image: -webkit-linear-gradient(top, #fd492b, #de2a10);
    background-image: -ms-linear-gradient(top, #fd492b, #de2a10);
    background-image: linear-gradient(to top, #fd492b, #de2a10);
    background-color: #fd492b;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.button-large:active {
    background-image: -moz-linear-gradient(top, #ce1a00, #ed391b);
    background-image: -webkit-linear-gradient(top, #ce1a00, #ed391b);
    background-image: -ms-linear-gradient(top, #ce1a00, #ed391b);
    background-image: linear-gradient(to top, #ce1a00, #ed391b);
    background-color: #ce1a00;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.button-large a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.center {
    text-align: center;
}


@media (max-width: 1070px) {
    .button-large {
        margin-left: auto;
        margin-right: auto;
    }

    input.button-large {
        display: flex;
    }
}