.col-80 {
    width: 80%;
}

.col-20 {
    width: 20%;
}

.additional-infos, .author-info, .edition-info, .achat-info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

.additional-infos {
    position: absolute;
    top: 2.2em;
    right: 30px;
    column-gap: 10px;
}

.synopsis {
    margin-top: 20px;
}

.album-cover img {
    width: 100%;
    margin: 0 0 25px 0;
}

@media (max-width: 1070px) {
    .additional-infos {
        position: initial;
        margin-bottom: 10px;
    }

    .author-info {
        display: block;
    }

    .col-80 {
        width: 100%;
    }

    .col-20 {
        width: 100%;
    }
}