{% extends 'main/base.html' %}
{% load static %}

{% block body %}

<div class="col-3 col-12-medium">

    <!-- Sidebar -->
        <section class="couverture">
            <header>
                <h2>Couverture</h2>
            </header>

            <div class="image_group cover">
                <img src="{{ image }}"
                     alt="Couverture"
                     width="220"
                     data-full="{{ image }}"
                     data-title="<h2>{{ series }}</h2>"
                     data-info="<p>{{ album }}</p>"
                     class="thumbnail"
                />
            </div>
        </section>

</div>
<div class="col-9 col-12-medium imp-medium">

    <!-- Main Content -->

        <section class="couverture">
            <header>
                <h2>
                {% if series and series != "" %}
                    {{ series }}
                {% else %}
                    Pas de titre
                {% endif %}
                </h2>

                <h3>
                {% if number and number != "" %}
                    {% if album and album != "" %}
                        Tome {{ number }} : {{ album }}
                    {% else %}
                        Tome {{ number }}
                    {% endif %}
                {% else %}
                    {% if album and album != "" %}
                        {{ album }}
                    {% else %}
                        Pas de titre
                    {% endif %}
                {% endif %}
                </h3>
            </header>

                <table aria-hidden="true" class="info-bd">
                    <tr>
                        <td><strong>ISBN</strong> : {{ isbn }}</td>
                        <td><strong>Scénariste</strong> : {{ writer }}</td>
                        <td><strong>Dessinateur</strong> : {{ illustrator }}</td>
                    </tr>
                    <tr>
                        <td><strong>Couleur</strong> : {{ colorist }}</td>
                        <td><strong>Éditeur</strong> : {{ publisher }}</td>
                        <td><strong>Date de parution</strong> : {{ publication_date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Édition</strong> : {{ edition }}</td>
                        <td><strong>Nombre de planches</strong> : {{ number_of_pages }}</td>
                        <td><strong>Cote</strong> : {% if rating and rating != "" %}{{ rating }}€{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Prix d'achat</strong> : {% if purchase_price and purchase_price != "" %}{{ purchase_price }}€{% endif %}</td>
                        <td><strong>Année d'achat</strong> : {{ year_of_purchase }}</td>
                        <td><strong>Lieu d'achat</strong> : {{ place_of_purchase }}</td>
                    </tr>
                </table>


        </section>

</div>

<div class="col-12">

    <!-- Main Content -->
        <section>
            <header>
                <h2>Synopsis</h2>
            </header>

                {% autoescape off %}
                    {{ synopsis }}
                {% endautoescape %}

        </section>
</div>

{% if nb_dedicace > 0 %}
    <div class="col-12">

        <!-- Main Content -->
            <section>
                <header>
                    <h2>Dédicaces</h2>
                </header>

                <div class="image_group cover">
                    {% for dedicace in dedicaces %}
                        <img src="/media/main/images/dedicaces/{{ isbn }}/{{ dedicace }}"
                             alt="Couverture de l'album {{ isbn }}"
                             data-full="/media/main/images/dedicaces/{{ isbn }}/{{ dedicace }}"
                             data-title="<h2>{{ dedicace }}</h2>"
                             data-info="<p></p>"
                             class="photo_dedicace"
                        />
                    {% endfor %}
                </div>
            </section>
    </div>
{% endif %}

{% if nb_exlibris > 0 %}
    <div class="col-12">

        <!-- Main Content -->
            <section>
                <header>
                    <h2>Ex Libris</h2>
                </header>
                <div class="image_group" id="exlibris-group">
                    {% for exlibris in ex_libris %}
                        <img src="/media/main/images/exlibris/{{ isbn }}/{{ exlibris }}"
                             alt="Couverture de l'album {{ isbn }}"
                             data-full="/media/main/images/exlibris/{{ isbn }}/{{ exlibris }}"
                             data-title="<h2>{{ exlibris }}</h2>"
                             data-info="<p></p>"
                             class="photo_exlibris"
                        />

                    {% endfor %}
                </div>

            </section>
    </div>
{% endif %}

<div class="popup" id="popup">
    <div class="popup-content">
        <div id="image-title"></div>
        <div id="image-info"></div>

        <img id="popup-img" src="" alt="Couverture"/>
        <button class="popup_button close" id="close-popup">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                <path d="M18 6L12 12L6 6L4.59 7.41L10.59 13.41L4.59 19.41L6 21L12 15L18 21L19.41 19.41L13.41 13.41L19.41 7.41L18 6Z" />
            </svg>
        </button>
        <button class="popup_button prev" id="prev-image">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
            </svg>
        </button>
        <button class="popup_button next" id="next-image">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z"/>
            </svg>
        </button>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'main/assets/image_popup.js' %}"></script>
{% endblock %}
