{% extends 'main/base.html' %}
{% load static %}

{% block body %}

<div class="col-3 col-12-medium">

    <!-- Sidebar -->
        <section>
            <header>
                <h2>Couverture</h2>
            </header>
            <a href="{{ image }}" data-lightbox="{{ isbn }}">
                <img src="{{ image }}" width="220" alt="Couverture">
            </a>
        </section>

</div>
<div class="col-9 col-12-medium imp-medium">

    <!-- Main Content -->

        <section>
            <header>
                <h2>
                {% if series and series != "" %}
                    {{ series }}
                {% else %}
                    Pas de titre
                {% endif %}
                </h2>

                <h3>
                {% if number and number != "" %}
                    {% if album and album != "" %}
                        Tome {{ number }} : {{ album }}
                    {% else %}
                        Tome {{ number }}
                    {% endif %}
                {% else %}
                    {% if album and album != "" %}
                        {{ album }}
                    {% else %}
                        Pas de titre
                    {% endif %}
                {% endif %}
                </h3>
            </header>

                <table aria-hidden="true">
                    <tr>
                        <td><strong>ISBN</strong> : {{ isbn }}</td>
                        <td><strong>Scénariste</strong> : {{ writer }}</td>
                        <td><strong>Dessinateur</strong> : {{ illustrator }}</td>
                    </tr>
                    <tr>
                        <td><strong>Couleur</strong> : {{ colorist }}</td>
                        <td><strong>Éditeur</strong> : {{ publisher }}</td>
                        <td><strong>Date de parution</strong> : {{ publication_date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Édition</strong> : {{ edition }}</td>
                        <td><strong>Nombre de pages</strong> : {{ number_of_pages }}</td>
                        <td><strong>Cote</strong> : {% if rating and rating != "" %}{{ rating }}€{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Prix d'achat</strong> : {% if purchase_price and purchase_price != "" %}{{ purchase_price }}€{% endif %}</td>
                        <td><strong>Année d'achat</strong> : {{ year_of_purchase }}</td>
                        <td><strong>Lieu d'achat</strong> : {{ place_of_purchase }}</td>
                    </tr>
                </table>


        </section>

</div>

<div class="col-12">

    <!-- Main Content -->
        <section>
            <header>
                <h2>Synopsis</h2>
            </header>

                {% autoescape off %}
                    {{ synopsis }}
                {% endautoescape %}

        </section>
</div>

{% if signed_copy|length > 0 %}
    <div class="col-12">

        <!-- Main Content -->
            <section>
                <header>
                    <h2>Dédicaces</h2>
                </header>

                    {% for dedicace in signed_copy %}
                        <a class="photo_link" href="/static/main/images/dedicaces/{{ isbn }}/{{ dedicace }}" data-lightbox="{{ isbn }}">
                            <img src="/static/main/images/dedicaces/{{ isbn }}/{{ dedicace }}" alt="Couverture de l'album {{ isbn }}" class="photo_dedicace">
                        </a>
                    {% endfor %}

            </section>
    </div>
{% endif %}

{% if ex_libris|length > 0 %}
    <div class="col-12">

        <!-- Main Content -->
            <section>
                <header>
                    <h2>Ex Libris</h2>
                </header>

                    {% for exlibris in ex_libris %}
                        <a class="photo_link" href="/static/main/images/exlibris/{{ isbn }}/{{ exlibris }}" data-lightbox="{{ isbn }}">
                            <img src="/static/main/images/exlibris/{{ isbn }}/{{ exlibris }}" alt="Couverture de l'album {{ isbn }}" class="photo_dedicace">
                        </a>
                    {% endfor %}

            </section>
    </div>
{% endif %}

{% endblock %}