<section>
    <header>
        {% if random_album.series and random_album.series != "" %}
            <h2>
                {{ random_album.series }}
            </h2>
        {% endif %}
        {% if random_album.number and random_album.number != "" or random_album.album and random_album.album != "" %}
            <h3>
                {% if random_album.number and random_album.number != "" %}
                    Tome {{ random_album.number }}
                    {% if random_album.album and random_album.album != "" %}
                        :
                    {% endif %}
                {% endif %}
                {% if random_album.album and random_album.album != "" %}
                    {{ random_album.album }}
                {% endif %}
            </h3>
        {% endif %}

    </header>

    <a href="{{ random_album.image }}" data-lightbox="{{ random_album.album }}">
        <img src="{{ random_album.image }}" alt="Couverture" width="220">
    </a>
    <p>
        Scénartiste : {{ random_album.writer }}<br />
        Dessinateur : {{ random_album.illustrator }}<br />
        Date de parution : {{ random_album.publication_date }}<br />
        {% if random_album.purchase_price and random_album.number_of_pages and random_album.purchase_price != "" and random_album.number_of_pages != "" %}
            {{ random_album.purchase_price }}€ | {{ random_album.number_of_pages }} pages<br />
        {% else %}
            {% if random_album.purchase_price and random_album.purchase_price != "" %}
                {{ random_album.purchase_price }}€<br />
            {% endif %}

            {% if random_album.number_of_pages and random_album.number_of_pages != "" %}
                {{ random_album.number_of_pages }} pages<br />
            {% endif %}
        {% endif %}

        {{ random_album.edition }}
    </p>
    <p>
        {% autoescape off %}
            {{ random_album.synopsis|truncatechars:200 }}
        {% endautoescape %}
    </p>
    <p>
        <a style="color:#FFFFFF;" href="{% url 'pagebd' random_album.isbn %}" class="button-large">Voir plus</a>
    </p>
</section>