<section>
    <header>
        {% if infos.Serie and infos.Serie != "" %}
            <h2>
                {{ infos.Serie }}
            </h2>
        {% endif %}
        {% if infos.Numero and infos.Numero != "" or infos.Album and infos.Album != "" %}
            <h3>
                {% if infos.Numero and infos.Numero != "" %}
                    Tome {{ infos.Numero }}
                    {% if infos.Album and infos.Album != "" %}
                        :
                    {% endif %}
                {% endif %}
                {% if infos.Album and infos.Album != "" %}
                    {{ infos.Album }}
                {% endif %}
            </h3>
        {% endif %}

    </header>

    <a href="{{ infos.Image }}" data-lightbox="{{ infos.Album }}">
        <img src="{{ infos.Image }}" alt="Couverture" width="220">
    </a>
    <p>
        Scénartiste : {{ infos.Scenariste }}<br />
        Dessinateur : {{ infos.Dessinateur }}<br />
        Date de parution : {{ infos.Date_de_parution }}<br />
        {% if infos.Prix_dachat and infos.Nombre_de_pages and infos.Prix_dachat != "" and infos.Nombre_de_pages != "" %}
            {{ infos.Prix_dachat }}€ | {{ infos.Nombre_de_pages }} pages<br />
        {% else %}
            {% if infos.Prix_dachat and infos.Prix_dachat != "" %}
                {{ infos.Prix_dachat }}€<br />
            {% endif %}

            {% if infos.Nombre_de_pages and infos.Nombre_de_pages != "" %}
                {{ infos.Nombre_de_pages }} pages<br />
            {% endif %}
        {% endif %}

        {{ infos.Édition }}
    </p>
    <p>
        {% autoescape off %}
            {{ infos.Synopsis|truncatechars:200 }}
        {% endautoescape %}
    </p>
    <p>
        <a style="color:#FFFFFF;" href="{% url 'pagebd' infos.ISBN %}" class="button-large">Voir plus</a>
    </p>
</section>