{% load static %}

<section>
    <header>
        {% if random_album.series and random_album.series != "" %}
            <h2>
                {{ random_album.series }}
            </h2>
        {% endif %}
        {% if random_album.number and random_album.number != "" or random_album.album and random_album.album != "" %}
            <h3>
                {% if random_album.number and random_album.number != "" %}
                    Tome {{ random_album.number }}
                    {% if random_album.album and random_album.album != "" %}
                        :
                    {% endif %}
                {% endif %}
                {% if random_album.album and random_album.album != "" %}
                    {{ random_album.album }}
                {% endif %}
            </h3>
        {% endif %}

    </header>

    <div class="image_group cover">
        <img src="{{ random_album.image }}"
             alt="Couverture"
             data-full="{{ random_album.image }}"
             data-title="<h2>{{ random_album.series }}</h2>"
             data-info="<p>{{ random_album.album }}</p>"
             class="thumbnail"
        />
    </div>

    <div class="album_description">
        {% if random_album.writer == random_album.illustrator %}
            {{ random_album.writer }} (Scénariste, Dessinateur)
        {% else %}
            {{ random_album.writer }} (Scénariste),<br/>{{ random_album.illustrator }} (Dessinateur)
        {% endif %}

        <div id="infos">

            <div class="text_icon" title="Date de parution">
                <img class="icon" src="{% static 'main/icons/date.svg' %}" alt="date">
                <p>{{ random_album.publication_date|date:"d/m/Y" }}</p>
            </div>

            {% if random_album.purchase_price and random_album.number_of_pages and random_album.purchase_price != "" and random_album.number_of_pages != "" %}
                <div class="text_icon" title="Prix">
                    <img class="icon" src="{% static 'main/icons/price.svg' %}" alt="price">
                    {{ random_album.purchase_price }}€
                </div>
                <div class="text_icon" title="Nombre de planches">
                    <img class="icon" src="{% static 'main/icons/pages.svg' %}" alt="pages">
                    {{ random_album.number_of_pages }}
                </div>
            {% else %}
                {% if random_album.purchase_price and random_album.purchase_price != "" %}
                    <div class="text_icon" title="Prix">
                        <img class="icon" src="{% static 'main/icons/price.svg' %}" alt="price">
                        {{ random_album.purchase_price }}€
                    </div>
                {% endif %}

                {% if random_album.number_of_pages and random_album.number_of_pages != "" %}
                    <div class="text_icon" title="Nombre de planches">
                        <img class="icon" src="{% static 'main/icons/pages.svg' %}" alt="pages">
                        {{ random_album.number_of_pages }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="album_description">
        {% autoescape off %}
            {{ random_album.synopsis|truncatechars:300 }}
        {% endautoescape %}
    </div>
    <div class="album_description">
        <span class="button-large">
            <a style="color:#FFFFFF;" href="{% url 'pagebd' random_album.isbn %}">Voir plus</a>
        </span>
    </div>
</section>

<div class="popup" id="popup">
    <div class="popup-content">
        <div id="image-title"></div>
        <div id="image-info"></div>

        <img id="popup-img" src="" alt="Couverture"/>
        <button class="popup_button close" id="close-popup">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                <path d="M18 6L12 12L6 6L4.59 7.41L10.59 13.41L4.59 19.41L6 21L12 15L18 21L19.41 19.41L13.41 13.41L19.41 7.41L18 6Z"/>
            </svg>
        </button>
        <button class="popup_button prev" id="prev-image">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
            </svg>
        </button>
        <button class="popup_button next" id="next-image">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z"/>
            </svg>
        </button>
    </div>
</div>