{% extends 'main/base.html' %}
{% load static %}

{% block banner %}
{% endblock %}

{% block body %}

    <div id="body">
        <div class="col-70">
            {% include 'advanced_search/module.html' %}
        </div>

        <div class="col-30">
            {% if random_album %}
                {% include 'random_album/module.html' %}
            {% else %}
                {% include 'random_album/no_album.html' %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'main/scripts/image_popup.js' %}"></script>
{% endblock %}
